<html>
<head>
    <title>Add New Account</title>
</head>
<body>
<h1>Add New Account</h1>
<form action="/account/insert" method="get">
    Account Email: <input id="account_email" name="account_email" type="text" />
    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>