<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>

<h1>Add New Resume</h1>
<form action="/resume/insert" method="get">
    Resume Name: <input id="resume_name" name="resume_name" type="text" />
    <br />
    <br />
    School
    <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) { %>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>